<p>Set one or more URLs for serving media assets such as CSS, Javscript and Images. This will help optimize your site for performance based on Yahoo!s site optimization guidelines.</p>

<div id="mediaurls_js_url" class="field field-left-label pkg">
  <div class="field-inner">
    <div class="field-header">
      <label for="js_url"><MT_TRANS phrase="Javascript">:</label>
    </div>
    <div class="field-content">
      <input type="text" name="js_url" id="js_url" size="40" value="<TMPL_VAR NAME="JS_URL" ESCAPE=HTML>">
      <div class="hint">
        <MT_TRANS phrase="URL at which you will store your Javascript files.">
      </div>
    </div>
  </div>
</div>

<div id="mediaurls_images_url" class="field field-left-label pkg">
  <div class="field-inner">
    <div class="field-header">
      <label for="images_url"><MT_TRANS phrase="Images">:</label>
    </div>
    <div class="field-content">
      <input type="text" name="images_url" id="images_url" size="40" value="<TMPL_VAR NAME="IMAGES_URL" ESCAPE=HTML>">
      <div class="hint">
        <MT_TRANS phrase="URL at which you will store your image assets.">
      </div>
    </div>
  </div>
</div>

<div id="mediaurls_css_url" class="field field-left-label pkg">
  <div class="field-inner">
    <div class="field-header">
      <label for="css_url"><MT_TRANS phrase="CSS">:</label>
    </div>
    <div class="field-content">
      <input type="text" name="css_url" id="css_url" size="40" value="<TMPL_VAR NAME="CSS_URL" ESCAPE=HTML>">
      <div class="hint">
        <MT_TRANS phrase="URL at which you will store your CSS files.">
      </div>
    </div>
  </div>
</div>

<div id="mediaurls_css_url" class="field field-left-label pkg">
  <div class="field-inner">
    <div class="field-header">
      <label for="media_url"><MT_TRANS phrase="Media">:</label>
    </div>
    <div class="field-content">
      <input type="text" name="media_url" id="media_url" size="40" value="<TMPL_VAR NAME="MEDIA_URL" ESCAPE=HTML>">
      <div class="hint">
        <MT_TRANS phrase="URL at which you will store other miscellaneous files.">
      </div>
    </div>
  </div>
</div>
